@use "../../UI/layout" as *;
@use "../../UI/variables" as *;
.button {
  appearance: none;
  padding: 0.5em 1em;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  margin-top: 10px;
  color: var(--text-color-counter-theme);
  background-color: var(--button-bg-color);
  font-size: 15px;

  transition-property: transform background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  box-shadow: 0 1px 1px gray;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    opacity: 0.8;
  }

  &:active {
    transition-duration: 0.15s;
    transform: translateY(20%);
  }
  margin: 0 auto;
  display: block;
}
.title {
  text-align: center;
  font-size: 120px;
  margin: 45px;
  animation: swing 1s infinite both;
}
@keyframes swing {
  from,
  to {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
