$global-bg: #fcfafa;
$light-gray: #eaeaea;
$bg-white: #fcffff;

// $bg-white:#fcfafa;
$bg-white-hover: #f1f1f1;
$border-white: #d3d0d0;
$button-gray: #999999;
$progress-fill: $button-gray;

$timer-height: 400px;
$timer-width: 400px;

$lighter-blue:#0aa6e4ce;
$light-blue: #0f97cf;
$dark-blue: #0b549c;

$orange:#fbc73a;

$text-white:$bg-white;

@mixin mobile {
  @media (max-width:600px) {
    @content;
  }
}

