.container{
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:  300px 450px 450px;
  grid-template-rows: 500px ;
  align-items: center;
  justify-items: center;
  user-select: none;
  justify-content: center;
  align-content: center;
}

@media (max-width:1226px) {
  .container{
    padding: 50px 0 ;
    display: flex;
    flex-wrap: wrap;
    gap:30px
  }
  
}