@use "/components/UI/layout" as *;
@use "/components/UI/variables" as *;

.container {
  touch-action: manipulation;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-color-pop);
  box-shadow: 0px 0px 5px var(--border-shadow-color);
  color: var(--text-color-counter-theme);

  @include mobile() {
    transform: scale(1);
  }
}
.play {
  width: 4em;
  height: 4em;
  background-color: var(--text-color-counter-theme);
  clip-path: polygon(0 0, 0 100%, 86.6% 50%);
  transform: translateX(10%);
  margin: 0 auto;
}
.square {
  width: 4em;
  height: 4em;
  background-color: var(--text-color-counter-theme);
  margin: 0 auto;
}
.player {
  padding: 3em;
  border-radius: 50%;
  border: none;
  background-color: var(--button-bg-color);
  z-index: 1;
  &:active {
    background-color: var(--bg-color-pop);
  }
}
.controls {
  font-family: monospace;
  width: 100%;
  height: 100%;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: absolute;
  transition: 0.3s all;
  background-color: var(--border-shadow-color);
  border: none;
  &:active {
    background-color: rgb(243, 203, 203);
  }
}
.decrease {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  clip-path: polygon(0 0, 0 100%, 51% 100%, 51% 0);
}
.increase {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  clip-path: polygon(50% 0, 50% 100%, 100% 100%, 100% 0);
}
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 3.5em;
  width: 5em;
  font-size: 40px;
  color: var(--text-color-counter-theme);
  border: var(--border-shadow-color) 2px solid;
  background-color: var(--bg-color-pop);
  border-radius: 10px;
  > span:nth-child(2)::after {
    content: "bpm";
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    transform: translate3d(50%, 250%, 0);
  }
}
.depictor {
  font-size: 18px;
  margin-top: 5px;
}

.bars {
  width: 95%;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: space-evenly;
}
.bar {
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background-color: var(--border-shadow-color);
}
.currentBar {
  animation: sparkle var(--sparkle-time) both;
}

@keyframes sparkle {
  from {
    background-color: var(--text-color-counter-theme);
  }
  20% {
    background-color: var(--text-color-counter-theme);
    transform: translate3d(0, 30%, 0);
  }
}
.beatsChanger {
  align-self: flex-end;
  appearance: none;
  padding: 0.5em;
  display: block;
  border-radius: 5px;
  background-color: inherit;
  border: 2px rgb(189, 179, 179) solid;
  color: var(--text-color-counter-theme);
  transition: 0.2s ease-in-out all;
  transform: translateY(20%);
  &:active {
    transform: scale(0.8);
  }
}
