.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;

  left: 0;
  bottom: 0;
  z-index: 88;
}
.inputModal {
  input {
    width: 3em;
    text-align: center;
    font-size: 10vw;
    color: white;
    background-color: inherit;
    border-radius: 10px;
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
  }
  input::selection {
    background-color: inherit;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  & > button {
    font-size: 15px;
  }
}
