.muteButton{
  font-size: 2em;
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  padding: 0.5em;
  animation: shake 0.25s linear 3 both;
}
@keyframes shake {
  25%{
    transform: translateX(3px) rotate(35deg);
  }
  75%{
    transform: translateX(-3px) rotate(-15deg);
  }
}