@use "/components/UI/variables" as *;
.bg {
  display: block;
  background-color: var(--bg-color-pop);
  padding: 3px 20px;
}
.nav {
  color: var(--text-color-counter-theme);
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 1200px;
  font-family: monospace;
}
.brand {
  flex: 1;
  font-size: 40px;
  display: flex;
  align-items: center;
  & > span {
    padding: 10px;
    font-size: 20px;
  }
}
.slogan {
  position: absolute;
  left: 50%;
  font-size: 20px;
  transform: translate3d(-50%, 0, 0);
}
.contactButton {
  appearance: none;
  font-size: 18px;
  padding: 0.5em 1em;
  margin: 10px 0;
  border-radius: 20px;
  font-family: monospace;
  border: none;
  color: var(--text-color-counter-theme);
  background-color: inherit;
  border: 2px solid var(--text-color-counter-theme);
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    border-color: var(--border-hover);
  }
}

@include mobile {
  .brand {
    font-size: 40px;
    & > span {
      font-size: 15px;
      display: none;
    }
  }
  .slogan {
  }
  .contactButton {
    font-size: 15px;
  }
}
