@use "/components/UI/layout" as *;
@use "/components/UI/variables" as *;
.container{
    @extend .portrait-center;
    position: relative;
    width: 400px;
    height: 400px;
    user-select: none;
    box-shadow: 3px 3px 5px $light-blue;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    @include mobile(){
      transform: scale(0.9);
    }
  }
  